<?php

/**
 * @var \Froogal\Magento\Block\Loyalty $block
 */
$merchantAccessToken = $block->getMerchantAccessToken();
$authToken = null;
try {
    $authToken = $block->getAuthToken();
} catch (\Exception $exception) {
}
$apiUrl = $block->getApiUrl();

$sdkVersion = $block->getLoyaltySdkVersion();
$baseUrl = $block->getBaseUrl();
?>

<link rel="stylesheet" type="text/css" href="https://assets-cdn.froogal.ai/loyalty-sdk/<?= $sdkVersion ?>/index.umd.css" />
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
<div id="loyalty-app-root"></div>
<script>
    window.process = window.process || {
        env: {
            NODE_ENV: 'development',
        }
    };
</script>
<script>
    require(['loyalty-sdk-js'], function(FroogalLoyaltySdk) {
        var appRoot = document.getElementById('loyalty-app-root');
        if (appRoot) {
            FroogalLoyaltySdk.initializeMyBenefits(appRoot, {
                postLoginCallback: function (data) {
                    $.ajax({
                        url: '<?php echo $baseUrl;?>/rest/V1/customer/accesstokensave',
                        method: POST,
                        data: JSON.stringify({
                            phoneNumber: data.phoneNumber,
                            authToken: data.authToken
                        }),
                    });
                },
                merchantAccessToken: '<?= $merchantAccessToken ?>',
                authToken: '<?= $authToken ?>',
                baseUrl: '<?= $apiUrl ?>',
                imageBaseUrl: 'https://assets-cdn.froogal.ai/loyalty-sdk/<?= $sdkVersion ?>/images/'
            });
        }
    })
</script>
