<?php

/**
 * @var \Froogal\Magento\Block\Loyalty $block
 */
$merchantAccessToken = $block->getMerchantAccessToken();
$authToken = null;
try {
    $authToken = $block->getAuthToken();
} catch (\Exception $exception) {
}
$apiUrl = $block->getApiUrl();

$sdkVersion = $block->getLoyaltySdkVersion();
$baseUrl = $block->getBaseUrl();

?>
<link rel="stylesheet" type="text/css" href="https://assets-cdn.froogal.ai/loyalty-sdk/<?= $sdkVersion ?>/index.umd.css" />
<div id="points-history-root"></div>
<style>
    .points-date {
        width: 150px;
    }
</style>
<script>
    window.process = window.process || {
        env: {
            NODE_ENV: 'development',
        }
    };
</script>
<script>
    require(['https://assets-cdn.froogal.ai/loyalty-sdk/<?= $sdkVersion ?>/index.umd.min.js'], function(LoyaltySdk) {
        var appRoot = document.getElementById('points-history-root');
        if (appRoot) {
            LoyaltySdk.initializePointsHistory(appRoot, {
                postLoginCallback: function (data) {
                    $.ajax({
                        url: '<?php echo $baseUrl;?>/rest/V1/customer/accesstokensave',
                        method: POST,
                        data: JSON.stringify({
                            phoneNumber: data.phoneNumber,
                            authToken: data.authToken
                        }),
                    });
                },
                merchantAccessToken: '<?= $merchantAccessToken ?>',
                authToken: '<?= $authToken ?>',
                baseUrl: '<?= $apiUrl ?>',
                imageBaseUrl: 'https://assets-cdn.froogal.ai/loyalty-sdk/<?= $sdkVersion ?>/images/',
            });
        }
    })
</script>