<?php
/**
 * @var \Froogal\Magento\Block\Loyalty $block
 */
$merchantAccessToken = $block->getMerchantAccessToken();
$authToken = null;
try {
    $authToken = $block->getAuthToken();
} catch (\Exception $exception) {
}
$apiUrl = $block->getApiUrl();

$sdkVersion = $block->getReferralSdkVersion();
$programId = $block->getreferralProgramId();
$baseUrl = $block->getBaseUrl();
?>
<link rel="stylesheet" type="text/css" href="https://assets-cdn.froogal.ai/referral-sdk/<?= $sdkVersion ?>/index.umd.css" />
<style>
    .fr-ref-reward-title>strong {
        font-weight: bold;
    }

    .fr-ref-reward-title {
        text-transform: unset !important;
    }
</style>
<div id="referral-app-root"></div>
<script>
    window.process = window.process || {
        env: {
            NODE_ENV: 'development',
        }
    };
</script>
<script>
    require(['https://assets-cdn.froogal.ai/referral-sdk/<?= $sdkVersion ?>/index.umd.min.js'], function(FroogalReferralSdk) {
        var appRoot = document.getElementById('referral-app-root');
        if (appRoot) {
            FroogalReferralSdk.initialize(appRoot, {
                postLoginCallback: function (data) {
                    $.ajax({
                        url: '<?php echo $baseUrl;?>/rest/V1/customer/accesstokensave',
                        method: POST,
                        data: JSON.stringify({
                            phoneNumber: data.phoneNumber,
                            authToken: data.authToken
                        }),
                    });
                },
                imageBaseUrl: 'https://assets-cdn.froogal.ai/referral-sdk/<?= $sdkVersion ?>/images/',
                merchantAccessToken: '<?= $merchantAccessToken ?>',
                authToken: '<?= $authToken ?>',
                programId: $programId,
                tabStyle: false,
                termsUrl: 'https://www.aptronixindia.com/referral-terms-and-conditions',
                referralBenefits: {
                    you: "Earn 3% points for every transaction they make.",
                    friend: "They get 2 vouchers when they signup on Aptronix!"
                },
                shareCodeContent: {
                    title: 'Refer & Earn!',
                    icon: '',
                    subTitle: ''
                },
                milestones: [{
                    name: 'Powerful',
                    count: 10,
                    item: {
                        name: '<p class="fr-ref-reward-title">Complete 10 referrals & win <strong>a free Apple TV</strong></p>',
                        terms: ''
                    },
                    background: 'linear-gradient(180deg, #41434a, #151518, #0d0d0f)'
                }, {
                    name: 'Iconic',
                    count: 25,
                    item: {
                        name: '<p class="fr-ref-reward-title">Complete 25 referrals & win <strong>a free Apple Watch SE*</strong></p>',
                        terms: ''
                    },
                    background: 'linear-gradient(180deg, #3fa7dd, #00293f)'
                }, {
                    name: 'Super Sonic',
                    count: 50,
                    item: {
                        name: '<p class="fr-ref-reward-title">Complete 50 referrals & win <strong>a free iPhone 11*</strong></p>',
                        terms: ''
                    },
                    background: 'linear-gradient(0deg, #c9931c, #f5c355)'
                }, {
                    name: 'Transcend',
                    count: 100,
                    item: {
                        name: '<p class="fr-ref-reward-title">Complete 100 referrals & win <strong>a free MacBook Air 2020*</strong></p>',
                        terms: ''
                    },
                    background: 'linear-gradient(180deg, #e86b6c, #c31313)'
                }],
                program: [{
                        image: "<?= $this->getViewFileUrl('Froogal_ReferAndEarn::media/you-get.png') ?>",
                        bg: 'linear-gradient(225deg, #776F8E, #575071)',
                        content: [{
                                one: '👉🏻 When your friend signs up & makes a transaction, you will get ',
                                two: '10% points on their first transaction.'
                            },
                            {
                                one: '👉🏻 For every transaction they make, ',
                                two: 'you will earn 3% points.'
                            }
                        ],
                        title1: 'What ',
                        title2: 'you get'
                    },
                    {
                        image: "<?= $this->getViewFileUrl('Froogal_ReferAndEarn::media/friend-get.png') ?>",
                        bg: 'linear-gradient(227deg, #D96B7D, #E34747)',
                        content: [{
                                one: '👉🏻 Voucher 1• Get ₹2000 Off on your favourite apple products - ',
                                two: 'iPhone, iPad, Mac & Apple Watch.'
                            }, , {
                                one: '👉🏻 Voucher 2 • 20% Discount on ',
                                two: 'accessories upto ₹2000.'
                            },
                            {
                                one: '👉🏻 Enroll into our Loyalty program & earn points for ',
                                two: 'lifetime'
                            }
                        ],
                        title1: 'what your ',
                        title2: 'friend gets',
                    }
                ]
            });
        }
    })
</script>
