<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: quoteIsVirtual == 0 -->
<tr class="totals shipping excl">
    <th class="mark" scope="row">
        <span class="label" data-bind="i18n: title"></span>
        <span class="value" data-bind="text: getShippingMethodTitle()"></span>
    </th>
    <td class="amount">
        <!-- ko if: isCalculated() -->
        <span class="price"
              data-bind="text: getValue(), attr: {'data-th': title}"></span>
        <!-- /ko -->
        <!-- ko ifnot: isCalculated() -->
        <span class="not-calculated"
              data-bind="text: getValue(), attr: {'data-th': title}"></span>
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
