!--
/**
* Copyright © 2015 Magento. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<!--ko if: isDisplayed() -->
<tr class="totals loyaltyDiscount excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: getTitle()"></th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->