<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--ko if: isDisplayed() -->

<tr class="totals loyaltyCouponDiscount excl example">
    <th class="mark" scope="row">
        <span class="label" data-bind="text: getTitle()"></span>
        <!-- <span class="value" data-bind="text: getValue()"></span> -->
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getValue(), attr: {'data-th': title}"></span>
    </td>
</tr>

<!-- /ko -->