<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

    $scopeConfig = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');

    $enablePhoneNumber = $scopeConfig->getValue('customer/address/telephone_show');

$translatedCalendarConfigJson = $block->getTranslatedCalendarConfigJson();
$fieldCssClass = 'field froogal_phone_number field-' . $block->getHtmlId();
// $fieldCssClass .= $block->isRequired() ? ' required' : '';
?>
<?php if($enablePhoneNumber == 'opt' || $enablePhoneNumber == 'req') : ?>
<div class="<?= $block->escapeHtmlAttr($fieldCssClass) ?>">
    <label class="label" for="<?= $block->escapeHtmlAttr($block->getHtmlId()) ?>">
        <span><?= $block->escapeHtml($block->getStoreLabel('froogal_phone_number')) ?></span>
    </label>
    <div class="control customer-froogal_phone_number">
    <div class="field froogal_phone_number required"> 
        <label class="label" for="froogal_phone_number">
            <span><?= $block->escapeHtml(__('Phone Number')) ?></span>
        </label>
        <div class="control"> 
            <input type="text" name="froogal_phone_number" id="froogal_phone_number" title="<?php /* @escapeNotVerified */echo __('Phone Number') ?>" class="input-text" autocomplete="off"> 
        </div> 
    </div>
    </div>
</div>
<?php endif; ?>

<script type="text/x-magento-init">
    {
       "*": {
           "Magento_Customer/js/validation": {}
       }
    }
</script>