<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$scopeConfig = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');

$enableReferralCode = $scopeConfig->getValue('customer/address/referral_code_show');
$referralProgramId = $scopeConfig->getValue('froogalascendconfiguration/froogalAscend/referralProgramId');

$translatedCalendarConfigJson = $block->getTranslatedCalendarConfigJson();
$fieldCssClass = 'field froogal_referral_code field-' . $block->getHtmlId();
// $fieldCssClass .= $block->isRequired() ? ' required' : '';
?>
<?php if($enableReferralCode == 'opt' || $enableReferralCode == 'req') : ?>
<div class="<?= $block->escapeHtmlAttr($fieldCssClass) ?>">
    <label class="label" for="<?= $block->escapeHtmlAttr($block->getHtmlId()) ?>">
        <span><?= $block->escapeHtml($block->getStoreLabel('referral_code')) ?></span>
    </label>
    <div class="control customer-froogal_referral_code">
    <div class="field froogal_referral_code required"> 
        <label class="label" for="froogal_referral_code">
            <span><?= $block->escapeHtml(__('Referral Code')) ?></span>
        </label>
        <div class="control"> 
            <input type="text" name="froogal_referral_code" id="froogal_referral_code" title="<?php /* @escapeNotVerified */echo __('Referral Code') ?>" class="input-text" data-validate="{required:true}" autocomplete="off"> 
            <span class="error-message-referral" style="color: red;"></span>
            <span class="success-message-referral" style="color: #81b562;"></span>
        </div> 
    </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
       "*": {
           "Magento_Customer/js/validation": {}
       }
    }
</script>


<script>
    require([
    'jquery',
    'mage/mage'
], function($){
    $(document).on('keyup', '#froogal_referral_code', debounce(function() {
			if($('#froogal_referral_code').val() != '')
			{
			$('.error-message-referral').text('');
			$('.success-message-referral').text('');
			$.ajax({
				url: '/rest/V1/customer/referral/validate',
				type: 'GET',
				data: {
					programId: <?php echo $referralProgramId; ?>,
					referralCode: $(this).val()
				},
				success: function(response) {
					if(response[2].success) {						
							$('.success-message-referral').text('Referred by '+response[2].referrerName);						
					} 
                    else if(response[2].success == false) {
                        $('.error-message-referral').text('Invalid referral code!');
                    }
                    else {
						$('.error-message-referral').text('Something went wrong');
					}
				}
			});
		}
			}, 500));
            function debounce(func, wait, immediate) {
				var timeout;
		
				return function executedFunction() {
					var context = this;
					var args = arguments;
		
					var later = function() {
						timeout = null;
						if (!immediate) func.apply(context, args);
					};
		
					var callNow = immediate && !timeout;
		
					clearTimeout(timeout);
		
					timeout = setTimeout(later, wait);
		
					if (callNow) func.apply(context, args);
				};
			};
});
</script>